@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body,html{
    overflow-x: hidden;
}

*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,span,p,button,a,div,hr{
       font-family: 'Poppins', sans-serif;
}

.header {
    background-color: white;
}
.logo img{
    width: 35%;
}
.navbar-nav a {
    font-size: 20px;
}

.navbar-nav a.nav-link {
    padding-right: 30px !important;
}

div#carouselExampleControls img {
    height: 600px;
}

.requst a.btn.btn-primary {
    width: 50%;
    text-align: center !important;
    margin: 0 auto;
}

.card.requst {
    padding: 20px 0;
    
}

.card.requst:hover{
    box-shadow: rgb(33 121 225 / 20%) 0px 7px 29px 0px;
}

.laptop-card {
    margin-top: 30px;

}

.laptop-rent-text h1 {
    font-size: 50px;
    text-align: center;
}

.laptop-rent-text p {
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.apple-laptop{
   
    margin-top: 50px;
}

.social-links a {
    font-size: 25px;
    padding-left: 15px;
    text-decoration: none;
   
}

.footer-sociallinks a {
    font-size: 35px;
    padding-left: 25px;
    text-decoration: none;
    color: white;
}

.footer{
    text-align: center;
    background-color: #2179ff;
}

.footer-sociallinks {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-copyright span {
    font-size: 20px;
}




button.navbar-toggler {
    background-color: #2179ff;

}



.apple-laptop .card-body {
    
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}


.form-banner img {
    width: 100%;
}


.laptop-form h3,.laptop-form p {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}

.laptop-form {
    margin: 80px auto;
}


.submit-button button.btn.btn-primary.btn-lg {
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}


.contact-form input ,.contact-form textarea{
    margin: 10px 0;
    padding: 20px;
}

.contact-form{
    margin: 20px 0;
}
 


.contact-form button.btn.btn-primary.btn-lg {
    width: 20%;
    /* text-align: center; */
    /* margin: 0; */
    display: flex;
    justify-content: center;
}


.laptop-form input, .laptop-form textarea{
    padding: 20px;
}


.laptop-form button.btn.btn-primary.btn-lg{
    width: 20%;
    /* text-align: center; */
    /* margin: 0; */
    display: flex;
    justify-content: center;

}


.about-us img {
    width: 100%;
}

.about-us-banner img{
    width: 100%;
}



.about-us .about-text {
    padding: 50px 0;
}


@media only screen and (max-width: 1100px) {
    .header div#navbarNavAltMarkup {
        width: 100%;
    }

    .social-links {
        width: 40%;
    }

    

    /* .header .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    } */

}
@media only screen and (max-width: 900px) {
    .social-links{
        display: none;
    }

    .logo img {
        width: 25%;
    }
    

    .about-us .about-text {
        padding: 0px 0;
    }
   
    
  }


  @media only screen and (max-width: 600px) {

    .header .container-fluid{
        display: block;
    }

    .header button.navbar-toggler {
        margin-left: 50%;
    }


  }


  @media only screen and (max-width: 350px) {
    .header button.navbar-toggler {
        margin-left: 40%;
    }

  }